<form class="form-container" [formGroup]="fg">

  <h2>Cadastrar Tag</h2>

  <!-- TITLE -->
  <mat-form-field>
    <input #firstInput matInput formControlName="title" placeholder="Tag" required tabindex="1">
    <mat-error>Nome indisponível.</mat-error>
  </mat-form-field>

  <!-- STATUS -->
  <mat-checkbox class="mt-2" formControlName="status" tabindex="2">Ativa</mat-checkbox>

  <!-- FEATURED -->
  <mat-checkbox class="mt-2" formControlName="featured" tabindex="3">Destaque</mat-checkbox>

  <h4>Tags filhas</h4>
  <div class="row tags">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let tag of tags">
      <mat-checkbox value="{{tag.code}}" (change)="tagsOnChange(tag.code, $event.checked)">{{tag.title}}</mat-checkbox>
    </div>
  </div>

  <button mat-raised-button color="accent" (click)="save()" [disabled]="!fg.valid || appService.isLoading()" tabindex="4">Salvar</button>
  <button mat-raised-button color="primary" (click)="backToList()" [disabled]="appService.isLoading()" tabindex="5">Cancelar</button>
</form>