.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 9;
}

mat-progress-bar {
  top: 0;
  z-index: inherit;
  position: fixed;
  display: none;
}

mat-progress-bar.active {
  display: block;
}

mat-sidenav-content {
  padding-bottom: 32px;
}

mat-nav-list {
  padding-top: 0;
}

mat-nav-list div.menu-subtitle {
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  padding-left: 12px;
  background-color: #3f51b5;
  font-weight: bold;
  color: #fff;
}
