<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <!-- TODO: add logo here -->
    <mat-toolbar color="primary">Sul BA Guia</mat-toolbar>

    <mat-nav-list *ngIf="auth.loggedIn">
      <a mat-list-item (click)="navClick(drawer, isHandset$)" routerLink="/orgs" routerLinkActive="active">Organizações</a>
      <a mat-list-item (click)="navClick(drawer, isHandset$)" routerLink="/events" routerLinkActive="active">Eventos</a>

      <div *ngIf="auth.role == 'admin' || auth.role == 'superadmin'">
        <div class="menu-subtitle">Admin</div>
        <a mat-list-item (click)="navClick(drawer, isHandset$)" routerLink="/regions" routerLinkActive="active">Regiões</a>
        <a mat-list-item (click)="navClick(drawer, isHandset$)" routerLink="/cities" routerLinkActive="active">Cidades</a>
        <a mat-list-item (click)="navClick(drawer, isHandset$)" routerLink="/tags" routerLinkActive="active">Tags</a>
      </div>

      <div *ngIf="auth.role == 'superadmin'">
        <div class="menu-subtitle">Super admin</div>
        <a mat-list-item (click)="navClick(drawer, isHandset$)" routerLink="/partners" routerLinkActive="active">Parceiros</a>
        <a mat-list-item (click)="navClick(drawer, isHandset$)" routerLink="/migrations" routerLinkActive="active">Migrations</a>
      </div>
      <hr>
      <a mat-list-item (click)="logout()" href="#">Sair</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>    
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- TODO: Add logo -->
      <!-- TODO: Add active component name -->
      <span class="ml-2">Sul BA Guia &nbsp; | &nbsp; {{getModuleTitle()}}</span>
    </mat-toolbar>
    
    <mat-progress-bar mode="indeterminate" [class.active]="appService.isLoading()"></mat-progress-bar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
