<form class="form-container" [formGroup]="fg"> 

  <h2>Editar Evento</h2>

  <mat-form-field>
    <input matInput #firstInput formControlName="title" placeholder="Título" required tabindex="1" maxlength="35">
    <mat-error>Nome indisponível.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="site" placeholder="Website" tabindex="2" maxlength="80">
  </mat-form-field>

  <!-- <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Descrição" rows="4" tabindex="3"></textarea>
  </mat-form-field> -->

  <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>

  <mat-form-field>
    <mat-select required formControlName="org" tabindex="4">
      <mat-option *ngFor="let org of orgs" [value]="org.cityCode+'|||'+org.code">{{org.name}} - {{org.address.city}}</mat-option>
    </mat-select>
    <mat-label>Organização</mat-label>
  </mat-form-field>
  
  <div class="start">
    <mat-form-field class="date">
      <input matInput formControlName="start" [matDatepicker]="startPicker" placeholder="Data" (focus)="startPicker.open()" tabindex="5">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker touchUi></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="time">
      <mat-select required formControlName="startTime" tabindex="6">
        <mat-option *ngFor="let t of timeOptions" [value]="t">{{t}}h</mat-option>
      </mat-select>
      <mat-label>Horário</mat-label>
    </mat-form-field>
    <mat-form-field class="size">
      <mat-select required formControlName="size" tabindex="7">
        <mat-option *ngFor="let size of appService.eventSizes; let i = index;" [value]="i">{{size}}</mat-option>
      </mat-select>
      <mat-label>Tamanho</mat-label>
    </mat-form-field>
  </div>

  <!-- <mat-form-field>
    <input matInput formControlName="end" [matDatepicker]="endPicker" placeholder="Término">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field> -->
  
  <mat-checkbox formControlName="featured" tabindex="7">Destaque</mat-checkbox>

  <div class="row tags">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let tag of tags">
      <mat-checkbox value="{{tag.code}}" (change)="tagsOnChange(tag.code, $event.checked)" [checked]="checkTag(tag.code)">{{tag.title}}</mat-checkbox>
    </div>
  </div>

  <div class="row images">
    <div class="image-col col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="img-wrapper">
        <img [src]="imgPreview[0]" *ngIf="imgPreview[0]">
        <img [src]="event?.images[0]" *ngIf="event?.images[0] && !imgPreview[0]">
      </div>
      <input #file0 type="file" accept='image/*' (change)="preview(file0.files, 0)"/>
      <div class="d-flex justify-content-between">
        <button mat-stroked-button (click)="file0.click()">Upload</button>
        <button mat-icon-button (click)="removeImage(0)"><mat-icon>clear</mat-icon></button>
      </div>
    </div>

    <div class="image-col col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="img-wrapper">
        <img [src]="imgPreview[1]" *ngIf="imgPreview[1]">
        <img [src]="event?.images[1]" *ngIf="event?.images[1] && !imgPreview[1]">
      </div>
      <input #file1 type="file" accept='image/*' (change)="preview(file1.files, 1)"/>
      <div class="d-flex justify-content-between">
        <button mat-stroked-button (click)="file1.click()">Upload</button>
        <button mat-icon-button (click)="removeImage(1)"><mat-icon>clear</mat-icon></button>
      </div>
    </div>

    <div class="image-col col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="img-wrapper">
        <img [src]="imgPreview[2]" *ngIf="imgPreview[2]">
        <img [src]="event?.images[2]" *ngIf="event?.images[2] && !imgPreview[2]">
      </div>
      <input #file2 type="file" accept='image/*' (change)="preview(file2.files, 2)"/>
      <div class="d-flex justify-content-between">
        <button mat-stroked-button (click)="file2.click()">Upload</button>
        <button mat-icon-button (click)="removeImage(2)"><mat-icon>clear</mat-icon></button>
      </div>
    </div>
  
    <div class="image-col col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="img-wrapper">
        <img [src]="imgPreview[3]" *ngIf="imgPreview[3]">
        <img [src]="event?.images[3]" *ngIf="event?.images[3] && !imgPreview[3]">
      </div>
      <input #file3 type="file" accept='image/*' (change)="preview(file3.files, 3)"/>
      <div class="d-flex justify-content-between">
        <button mat-stroked-button (click)="file3.click()">Upload</button>
        <button mat-icon-button (click)="removeImage(3)"><mat-icon>clear</mat-icon></button>
      </div>
    </div>
  </div>  

  <button mat-raised-button color="accent" [disabled]="!fg.valid || appService.isLoading()" (click)="onSubmit()" tabindex="12">Atualizar</button>
  <button mat-raised-button color="primary" (click)="backToList()" tabindex="13" [disabled]="appService.isLoading()">Cancelar</button>

</form>
  