<form class="form-container" [formGroup]="fg"> 

  <h2>Editar Evento</h2>

  <mat-form-field>
    <input matInput #firstInput formControlName="title" placeholder="Título" required tabindex="1" maxlength="35">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Descrição" required tabindex="2" maxlength="255"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select required formControlName="org" tabindex="3">
      <mat-option *ngFor="let org of orgs" [value]="org.name">{{org.name}}</mat-option>
    </mat-select>
    <mat-label>Organização</mat-label>
  </mat-form-field>
  
  <div class="start">
    <mat-form-field class="date">
      <input matInput formControlName="start" [matDatepicker]="startPicker" placeholder="Data" (focus)="startPicker.open()" tabindex="4">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker touchUi></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="time">
      <mat-select required formControlName="startTime" tabindex="5">
        <mat-option *ngFor="let t of timeOptions" [value]="t">{{t}}h</mat-option>
      </mat-select>
      <mat-label>Horário</mat-label>
    </mat-form-field>
  </div>

  <!-- <mat-form-field>
    <input matInput formControlName="end" [matDatepicker]="endPicker" placeholder="Término">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field> -->
  
  <mat-checkbox formControlName="featured" tabindex="6">Destaque</mat-checkbox>

  <div class="row images">
    <div class="image-col col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="img-wrapper">
        <img [src]="imgPreview[0]" *ngIf="imgPreview[0]">
        <img [src]="event?.images[0]" *ngIf="event?.images[0] && !imgPreview[0]">
      </div>
      <input #file0 type="file" accept='image/*' (change)="preview(file0.files, 0)"/>
      <button mat-raised-button color="primary" (click)="file0.click()" tabindex="7">Imagem 1</button>
    </div>

    <div class="image-col col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="img-wrapper">
        <img [src]="imgPreview[1]" *ngIf="imgPreview[1]">
        <img [src]="event?.images[1]" *ngIf="event?.images[1] && !imgPreview[1]">
      </div>
      <input #file1 type="file" accept='image/*' (change)="preview(file1.files, 1)"/>
      <button mat-raised-button color="primary" (click)="file1.click()" tabindex="8">Imagem 2</button>
    </div>

    <div class="image-col col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="img-wrapper">
        <img [src]="imgPreview[2]" *ngIf="imgPreview[2]">
        <img [src]="event?.images[2]" *ngIf="event?.images[2] && !imgPreview[2]">
      </div>
      <input #file2 type="file" accept='image/*' (change)="preview(file2.files, 2)"/>
      <button mat-raised-button color="primary" (click)="file2.click()" tabindex="9">Imagem 3</button>
    </div>
  
    <div class="image-col col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="img-wrapper">
        <img [src]="imgPreview[3]" *ngIf="imgPreview[3]">
        <img [src]="event?.images[3]" *ngIf="event?.images[3] && !imgPreview[3]">
      </div>
      <input #file3 type="file" accept='image/*' (change)="preview(file3.files, 3)"/>
      <button mat-raised-button color="primary" (click)="file3.click()" tabindex="10">Imagem 4</button>
    </div>
  </div>  

  <button mat-raised-button color="accent" [disabled]="!fg.valid" (click)="update()" tabindex="11">Atualizar</button>
  <button id="cancel" mat-raised-button color="primary" (click)="cancel()" tabindex="12">Cancelar</button>

</form>
  